body {
    background-color: #eee;
}

#container {
    width: 600px;
    margin: auto;
}

#sketchpad {
    background-color: white;
    width: 600px;
    height: 600px;
    margin: 10px auto;
}

.row {
    display: flex;
}

.square {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    background-color: black;

}